/* Reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    position: absolute;
}

/* Common */
.text-center{
    text-align: center;
}

.row{
    margin-left: -8px;
    margin-right: -8px;
}

.row::after{
    display: block;
    content: "";
    clear: both;
}

.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-full{
    width: 100%;
}

.col-hafl{
    width: 50%;
}

.col-thirth{
    width: calc(100% /3);
}

/* Main */
#header{
    background-color: #000;
    height: 46.4px;
    position: fixed;
    top: 0;left: 0;right: 0;
    z-index: 1;
}

#nav{
    float: left;
}

#nav li a{
    text-decoration: none;
    line-height: 46.4px;
    padding: 0 24px;
    display: block;
}

#nav > li > a{
    color: #fff;
    text-transform: uppercase;
}

#nav > li{
    display: inline-block;
    position: relative;
}

#nav > li:hover > a,
#nav .subnav li:hover a{
    color: #000;
    background-color: rgb(204, 204, 204);
}

#nav li:hover > .subnav{
    display: block;
}

#nav .subnav{
    display: none;
    position: absolute;
    background-color: #fff;
    list-style-type: none;
    box-shadow: 0 0 10px 4px rgb(0, 0, 0, 0.2);
    min-width: 160px;
    top: 100%;left: 0px;
}

#nav .subnav a{ 
    color: #000;
    padding: 8px 16px;
    line-height: 22.4px;
}

#header .search-icon:hover{
    background-color: #f44336;
    cursor: pointer;
}

#header .search-menu:active{
    background-color: #ccc;
    color: black;
}

#header .search-menu{
    position: absolute;
    top: 0;right: 0;
    display: none;
}

#header .search-menu,
#header .search-icon{
    color: #fff;
    float: right;
    line-height: 46.4px;
    padding: 0 24px;
}

#slider{
    position: relative;
    margin-top: 27.4px;
    padding-top: 50%;
    background-size: cover;
}

#slider .text-content{
    position: absolute;
    color: white;
    bottom: 0;
    text-align: center;
    padding: 32px;
/* C1:  left: 50%;
        transform: translateX(-50%); */
/* C2:  left:0;right: 0; */
/* C3: */ width: 100%;
}

#slider .text-heading{
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 25px;
}

#content .content-section{
    width: 768px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

#content .section-heading{
    font-weight: 400;
    letter-spacing: 4px;
    line-height: 45px;
    padding-top: 64px;
    margin-bottom: 10px;
    text-align: center;
}

#content .section-sub-heading{
    font-size: 15px;
    font-style: italic;
    opacity: 0.6;
    text-align: center;
}

#content .about-content{
    margin-top: 15px;margin-bottom: 15px;
    text-align: justify;
    line-height: 22.5px;
    font-size: 15px;
}

#content .member-name{
    padding-top: 47px;
    padding-bottom: 15px;
}

#content .member-img{
    border-radius: 4px;
    width: 153.587px;
    padding-bottom: 96px;
}

.tour-section{
    background-color: #000;
    color: #fff;
    padding-bottom: calc(16px + 32px + 64px);
}

.tour-section .tickit-list{
    margin-top: 40px;
}

.tour-section .tickit-list li{
    border-bottom: 1px solid #ddd;
    background-color: #fff;
    color: #757575;
    list-style-type: none;
    padding: 8px 16px;    
}
.tour-section .sold-out{
    margin-left: 16px;
    padding: 3px 8px;
    line-height: 22.5px;
    font-size: 15px;
    background-color: tomato;
    color: #fff;
}

.tour-section .quantity{
    float: right;
    background-color: #000;
    color: #fff;
    width: 24px;height: 24px;
    padding: 0 8px;
    margin-right: 16px;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;
}

.place-list{
    margin-top: 32px;
    display: inline-block;
}

.place-img{
    display: block;
    width: 100%;
}

.place-img:hover{
    opacity: 0.6;
}

.place-body{
    padding: 0 16px;
    background-color: #fff;
}

.place-heading,
.place-desc{
    color: #000;
    line-height: 22.5px;
    font-size: 15px;
    padding: 15px 0;
}

.place-time{
    color: #000;
    opacity: 0.6;
    line-height: 22.5px;
    font-size: 15px;
}

.place-body .place-buy{
    border: none;
    display: inline-block;
    color: #fff;
    background-color: #000;
    padding: 8px 16px;
    margin-bottom: 16px;
}

.place-body .place-buy:hover{
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}

.contact{
    padding-top: 47px;
    padding-bottom: 112px;
}

.contact i[class*="ti-"]{
    width: 30px;
    padding-right: 10px;
}

.conl-hafl .contact-info{
    font-size: 18px;
}

.contact-form .form-input{
    width: 100%;
    padding: 8px;
    margin-bottom: 8px;
}

.form-buttom{
    margin-top: 16px;
    padding: 8px 16px;
    background-color: #000;
    color: #fff;
    float: right; 
    border: none;
    text-transform: uppercase;
}
.form-buttom:hover{
    cursor: pointer;
    color: #000;
    background-color: #ccc;
}

#footer{
    padding: 64px 16px;
    text-align: center;
}

#footer .social-list a{
    font-size: 24px;
    text-decoration: none;
    color: rgba(0,0,0,0.6);
}

#footer .social-list a:hover{
    color: rgba(0,0,0,0.4);
}

.copyRight{
    font-size: 15px;
    margin: 15px 0;
    color: rgba(0,0,0,0.5);
}

#footer .copyRight a{
    text-decoration: none;
    color: rgba(0,0,0,0.5);
}

.modal{
    position: fixed;
    top: 0;left: 0;right: 0;bottom: 0;
    background-color: rgba(0,0,0,0.4);
    align-items: center;
    justify-content: center;
    display: none;
}

.modal.open{
    display: flex;
}

.modal .modal-contain{
    background-color: #fff;
    position: relative;
    max-width: calc(100% - 64px);
    box-shadow: 0px 0px 3px #000;
    animation: modal-trans 0.4s ease;
}

.modal-contain .close{
    position: absolute;
    top: 0;right: 0;
    padding: 15px 16px;
    color: #fff;

}

.modal-contain .close:hover{
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}

.modal-contain .header{
    background-color: #009688;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 4px;
    color: #fff;
    padding: 42px 0;
}

.modal-contain .modal-body{
    width: 600px;
    padding: 0 16px;
}

.modal-body #body-buy,
.modal-body .body-lable{
    display: block;
    padding-top: 18px;

}

.body-input{
    border: 1px solid rgb(204, 204, 204);
    width: 100%;
    padding: 8px;
    margin-top: 10px;
}

.modal-body #body-buy{
    width: 100%;
    padding: 16px;
    margin: 16px 0;
    color: #fff;
    background-color: #009688;
    border: none;
}

.modal-body #body-buy:hover{
    cursor: pointer;
    opacity: 0.7;
}

.modal-footer{
    text-align: right;
    margin: 15px 16px;
}

.modal-help{
    color: #2196F3;
}

@keyframes modal-trans{
    from{
        opacity: 0;
        transform: translateY(-150px);
    }
    to{
        opacity: 1px;
        transform: translateY(0);
    }
}