@media(min-width:64em){

}

@media(min-width:46.25em) and (max-width:63.9375em){
    
}

@media(max-width:63.9375em){
    .text-content {
        font-size: 23px;
        text-shadow: 0 0 5px black;
    }
}

@media(max-width:46.1875em){
    #header{
        overflow: hidden;
    }

    
    #header .search-icon{
        display: none;
    }

    #header .search-menu{
        display: block;
    }

    #nav{
        float: none;
    }

    #nav > li{
        display: block;
    }
    
    #nav > li:first-child{
        display: inline-block;
    }
    
    #nav .subnav{
        position: initial;
        background-color: #000;
    }
    
    #nav .subnav li a{
        color: #fff;
        padding: 15px 36px;
    }

    #content .section-sub-heading {
        font-size: 21px;
    }

    #content .section-heading {
        font-size: 40px;
    }

    #content .about-content {
        line-height: 38.5px;
        font-size: 25px;
    }

    .font-mobile{
        font-size: 25px;
    }
    
    #content .member-img{
        padding-bottom: 36px;
        width: 60%;
    }

    .width-mobile{
        width: 100%;
    }

    .mb-32{
        margin-bottom: 32px;
    }

    .mg-mobile{
        margin-top: 3px;
        margin-bottom: 16px;
    }

    .padding-mobile{
        padding-right: 12px;
        padding-left: 12px;
    }
    .place-body .place-buy {
        padding: 20px 16px;
    }
    .form-buttom {
        padding: 18px 24px;
    }
}